/* ---------------------products starts---------------------------------- */

.product_container {
  letter-spacing: 0.7px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  gap: 20px;

  font-family: "Poppins", sans-serif;
}
.product_container > div {
  width: 1280px;
  margin: auto;
}
.shophead {
  color: rgb(125, 125, 125);
}
.categoryselector {
  display: flex;
  justify-content: left;
}
.categoryselector select {
  border-radius: 100px;
  padding: 10px;
  font-size: 16px;
}

.prdoducts_div {
  display: grid;
  width: 1280px;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.prdoducts_iteam {
  display: flex;
  width: 100%;

  flex-direction: column;

  align-items: flex-start;
}
.prdoducts_iteam > img {
  width: 100%;
  margin-bottom: 10px;
}

.prdoducts_iteam > div {
  text-align: left;
  margin-bottom: -100px;
}
.prdoducts_iteam > div > span {
  color: #fe5c74;
  font-size: 14px;
}
.prdoducts_iteam > div > p {
  height: 100px;
  letter-spacing: 0.7px;
  font-size: 18px;
  box-sizing: border-box;
  overflow: hidden;
}
.readmoreaction{
    color: #fe5c74;
    font-size: 13px;
    cursor: pointer;
}
/* ---------------------product starts---------------------------------- */
.productmain {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
}

.productchild {
  width: 820px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  margin: auto;
  line-height: 26px;
}
.auther_span {
  color: #fe5c74;
}
.topshortdescriptiondiv {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* margin: 10px; */

  margin: auto;
}
.tabular_product_presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tabular_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  /* align-items: center; */
}
.tabular_body > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #fe5c74;
  cursor: pointer;
}
.tabular_body > div > div:first-child:hover {
  text-decoration: underline;
}
.tabular_body > div > div:last-child {
  background-color: #fba806;
  padding: 10px;
  color: black;
  border-radius: 7px;
}
.tabular_body > div > div:last-child:hover {
  text-decoration: underline rgb(0, 0, 0);
}
.tabular_product_presentation > div:first-child {
  background-color: #d9edf7 !important;
  height: 50px;
  margin-bottom: 20px;
  align-items: center;
}
.tabular_product_head {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}
.productdctdiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px double rgb(6, 2, 2); */
text-align: left;
}

.product_and_Amoazon{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* margin:auto ; */
  margin-bottom: 50px;

}
.product_and_Amoazon >div{
display: flex;
justify-content: center;
/* align-items: center; */
margin: auto;
}
.container_for_byon_amzon{
  background-color: #fba806;
  cursor: pointer;
  padding: 15px 25px;
}
.productdct_head_indescription{
  color: #fe5c74;
 font-size: 19px;
 
}
.productdct_head_indescription1{
  font-size: 19px;
  font-weight: bold;
  margin:50px 0px;
}
.reviews_head{
  font-weight: bold;
 font-size: 19px;
  margin:20px 0px;

}